@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.notified-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s ease;
}
  
.notified-page.show {
  opacity: 1;
}
  
.notified-page.hide {
  display: none;
}
  
.notified {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

h1, p {
  padding: 10px;
  font-family: 'Borel', sans-serif;
  color: #FFF;
  text-align: center;
}
p {
  padding-top: 30px;
  font-size: 24px;
}
  