:root {
    --primary: rgb(253, 71, 71);
    --secondary: rgb(255, 128, 206);
    --tertiary: rgb(169, 0, 166);
  }
  
  .loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: linear-gradient(0.4turn, var(--primary), var(--secondary), var(--tertiary)); /* Utilisation de la variable de couleur --primary */
    color: #fff;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .loading-page.show {
    opacity: 1;
  }
  
  .loading-page.hide {
    display: none;
  }
  
  .loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  