:root{
    --primary: rgb(253, 71, 71);
    --secondary: rgb(255, 128, 206);
    --tertiary: rgb(169, 0, 166);
}

main{
    width: 100%;
    height: 80vh;
    background: linear-gradient(0.4turn, var(--primary), var(--secondary), var(--tertiary));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}