@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    background: #000;
    color: #FFF;
    height: 10vh;
}

.title{
    padding-top: 15px;
    font-family: 'Borel', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #FFF;
    text-align: center;
}
